body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.title {
    color:navy;
    background:skyblue repeat;
    width:35%;
    margin: 0 auto;
    border-radius:25px;
}

hr {
    width: 500px;
}

#errors {
    color: blue;
}

#board {
    width: 450px;
    height: 450px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px; 
    height: 48px;
    border: 1px solid lightblue;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 450px;
    height: 50px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px; 
    height: 44px;
    border: 1px solid lightskyblue;
    margin: 2px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: gray;
}
.number:hover{
    cursor: pointer;
}

.tile-start {
    background-color: whitesmoke;
}

.horizontal-line {
    border-bottom: 1px solid navy;
}

.vertical-line {
    border-right: 1px solid navy;
}